{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
  <h1>Customer</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Firstname</th>
        <td>: {{ customer.firstName }}</td>
      </tr>
      <tr>
        <th>Lastname</th>
        <td>: {{ customer.lastName }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>: {{ customer.phone }}</td>
      </tr>
    </tbody>
  </table>

  <nav class="actions"><ul>
    <li><a href="{{ path('app_customer_index') }}">back to list</a></li> &bull; 
    <li><a href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a></li>
  </ul></nav>
{% endblock %}
