{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

  <h1>Hello {{ controller_name }}! ✅</h1>

  This friendly message is coming from:
  {{ form_errors(form) }}
  {{ form_start(form) }}
  {{ form_widget(form) }}
{#      <button class="btn">{{ button_label|default('Save') }}</button>#}
  {{ form_end(form) }}
{% endblock %}
