{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

  <h1>Hello {{ controller_name }}! ✅</h1>

  {% if search_form is defined %}
  Search :
  {{ form_errors(search_form) }}
  {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    {#      <button class="btn">{{ button_label|default('Save') }}</button>#}
  {{ form_end(search_form) }}
  {% endif %}

  Add Customer :
  {{ form_errors(addcustomer_form) }}
  {{ form_start(addcustomer_form) }}
    {{ form_widget(addcustomer_form) }}
    {#      <button class="btn">{{ button_label|default('Save') }}</button>#}
  {{ form_end(addcustomer_form) }}


{% endblock %}
