<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" id="silktide-consent-manager-css" href="{{ asset('cookie/silktide-consent-manager.css') }}">
    <script src="{{ asset('cookie/silktide-consent-manager.js') }}"></script>
    <script src="https://kit.fontawesome.com/742c179d4d.js" crossorigin="anonymous"></script>    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header>
    {{ render(controller(
      'CaRMen\\Controller\\MenuController::mainMenu'
      )) }}
    </header>
    <main>
      {% block body %}{% endblock %}

      <div class="popup">
      <div class="popup-overlay"></div>
      <div class="main-popup">
        <div class="popup-content">
          <span class="close-btn">&times;</span>
          <h3>This is my popup</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum, magni nulla alias excepturi atque. Corporis quaerat impedit cupiditate exercitationem eos maxime numquam amet itaque animi! Maxime cupiditate, aliquid repellat, assumenda excepturi esse obcaecati alias consequatur quidem earum quae optio!</p>
        </div>
      </div>
      </div>

      <script>

      </script>
    </main>
    <footer>
    {{ render(controller(
      'CaRMen\\Controller\\MenuController::adminMenu'
      )) }}
    </footer>
  </body>
</html>
